<div class="mt-4 footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>FCourses</h5>
        <p>Hãy theo dõi chúng tôi trên các mạng xã hội và cập nhật các khóa học
          mới nhất!</p>
      </div>
      <div class="col-md-3">
        <h5>Liên hệ</h5>
        <ul class="list-unstyled">
          <li><a
              href="mailto:info@fcourses.com"
              class="text-light"
            >info@fcourses.com</a></li>
          <li><a href="tel:+1234567890" class="text-light">+1 234 567 890</a></li>
          <li><a href="/about" class="text-light">Giới thiệu</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Kết nối</h5>
        <div class="social-icons">
          <a href="#" class="text-light me-3"><i
              class="fab fa-facebook-f"
            ></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i
              class="fab fa-linkedin-in"
            ></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2024 FCourses. All rights reserved.</p>
    </div>
  </div>
</div>