<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">FCourses</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://files.fullstack.edu.vn/f8-prod/user_photos/364084/651fcd682962c.jpg"
              alt="User Avatar"
              class="user-avatar"
            />
            Logan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của
                tôi</a></li>
            <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Thông tin người dùng</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>