<div class="mt-4 mx-auto container">
  <form action="/search" method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khóa"
        name="q"
      />
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>